.menu-link{
    
}

.Navmenu{
    margin: 0;
    width: 20%;
    height: 100vh;
    background-color: #494E6B;
    color: #B8A7AF;
    justify-content: left;
    position: relative;
}

.MenuIcon{
    display: flex;
    width: 20vh;
    height: 20vh;
    margin: 2vh 0 -5vh 22%;

}

.ModalMode {
    z-index: 100;
}

.MenuBars {
    align-items:  center;
    width: 100%;
    height: 10%;
}